<%- if devise_mapping.omniauthable? %>
  <% resource_class.omniauth_providers.each do |provider| %>
    <% if provider == :facebook %>
      <a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="facebook normal fb-bg bg social-login"> <span class="fa fa-facebook"></span> Sign in with Facebook</a> <br>
    <% elsif provider == :twitter %>
      <a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="twitter normal twitter-bg bg social-login"> <span class="fa fa-twitter"></span> Sign in with Twitter</a> <br>
    <% elsif provider == :google_oauth2 %>
      <a href="<%= omniauth_authorize_path(resource_name, provider) %>" class="google normal google-bg bg social-login"> <span class="fa fa-google"></span> Sign in with Google</a>
    <% end %>
  <% end %>
<% end %>
