<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div class="wrapper">

      <% if current_user != nil %>
        <% if current_user.vote == true %>

        <% if flash[:notice] %>
          <div class="notice normal georgia italic"><%= flash[:notice] %></div>
        <% end %>
        <br>

        <%= form_tag exhibits_path, method: 'get' do %>
          <%= text_field_tag :search, params[:search], type: 'tel', class: 'circle-input', id: 'input', placeholder: '00' %>
          <div class="results" id="search-results"></div>

          <!-- <p class="red bold align-left">Your Selection:</p> -->

          <%= submit_tag "Nominate", class: 'nominate'%>
        <% end %>

        <h1 class="center align-left xl">Now, pick a number associated with the work you like best.</h1>


        <% else %>

        <h1 class="center align-left xl thanks">Dude. Thanks for helping nominate an Ego-maniac!</h1>
        <p class="center align-left italic phone-down normal">Now put down your phone and start mingling with others.</p>

      <% end %>

      <% else %>

        <p class="normal georgia italic inline">How the heck did you get here? <br>Please </p><a href="/users/sign_in" class="normal inline">SIGN IN</a>

      <% end %>

    </div>

  </body>

</html>
