<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div class="wrapper">

      <% if current_user != nil %>
        <% if current_user.vote == true %>

        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <br>

        <%= form_tag exhibits_path, method: 'get' do %>
          <%= text_field_tag :search, params[:search], type: 'tel', class: 'circle-input', placeholder: '00', data: { autocomplete: autocomplete_exhibit_entry_code_exhibits_path, update_elements: {} } %>
          <div class="results" id="search-results"></div>

          <p class="red bold align-left">Your Selection:</p>

          <%= submit_tag "Nominate", class: 'nominate'%>
        <% end %>

        <h1 class="center">Now, pick a number associated with the work you like best.</h1>


        <% else %>

        <h1 class="center">Dude. Thanks for helping nominate an Ego-maniac!</h1>
        <p class="center">Now put down your phone and start mingling with others.</p>

      <% end %>

      <% else %>

        How did you get here? Please <a href="/users/sign_in">SIGN IN</a>

      <% end %>

    </div>

  </body>

</html>
