<div class="dark">

  <a href="<%= root_path %>" class="normal bold white underline">Back</a>

  <h1 class="lg bold white med-margin">Complaints and disgruntled people who didn't win can reach us at:</h1>
  <a href="https://makeway.is/sorry" class="lg bold white underline">makeway.is/sorry</a>

  <div class="center dn-pg">
    <h4 class="bold white normal">This voting app was made by:</h4>
    <a href="<%= pages_sorry_path %>"><img src="<%= asset_path('Makeway Logo.svg') %>" alt="Makeway Logo" id="makewaylogo"></a>
  </div>

  <img src="<%= asset_path('sorry-page.png') %>" class="bg-image">

</div>
