<h1 class="xl thanks">Inflate your ego. Or, someone else's, if you wish.</h1>

<p class="italic georgia normal sign-in">Sign in to cast your vote for the 2016 Viewer's Choice Award</p>

<%= render "users/shared/links" %>
