/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require fontello.css
 */

body {
  font-family: 'Helvetica', sans-serif;
  padding: 5%;
  min-width: 320px;
  font-size: 16px;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 12px;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.black {
  border-color: black;
}

.bold {
  font-weight: bold;
}

.small-pad {
  padding: 2%;
}

.italic {
  font-style: italic;
}

.georgia {
  font-family: 'Georgia', sans-serif;
}

.inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.log-out {
  text-decoration: none;
  font-size: 30px;
  color: red;
  font-weight: bold;
  position: absolute;
  right: 6%;
}

.nominate {
  font-size: 40px;
  background: crimson;
  color: white;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding: 2%;
  border-radius: 15px;
}

.wrapper {
  width: 100%;
}

form {
  text-align: center;
}

#aaflogo {
  max-width: 25%;
  margin: auto
}

#makewaylogo {
  width: 25%;
}

.circle-input {
  border: 25px solid lightgray;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 3%;
  font-weight: bold;
  font-size: 160px;
  text-align: center;
}
