body {
  font-family: 'Helvetica', sans-serif;
  padding: 5%;
  min-width: 320px;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.black {
  border-color: black;
}

.bold {
  font-weight: bold;
}

.small-pad {
  padding: 2%;
}

.med-margin {
  margin: 5% 0;
}

.italic {
  font-style: italic;
}

.georgia {
  font-family: 'Georgia', sans-serif;
}

.inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.log-out {
  text-decoration: none;
  color: red;
  font-weight: bold;
  position: absolute;
  right: 6%;
}

.log-out:focus {
  color: crimson;
  text-decoration: none;
}

.nominate, .confirm {
  font-size: 40px;
  background: crimson;
  color: white;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding: 2%;
  border-radius: 15px;
}

#input {
  margin: 5% auto 20%;
}

.go-back {
  background-color: transparent;
  color: white;
}

.wrapper {
  width: 100%;
}

.no-margin {
  margin: 0;
}

form {
  text-align: center;
}

#aaflogo {
  max-width: 25%;
  margin: auto
}

#makewaylogo {
  width: 25%;
}

.circle-input {
  border: 25px solid lightgray;
  border-radius: 50%;
  height: 290px;
  width: 290px;
  font-weight: bold;
  font-size: 160px;
  text-align: center;
  margin: auto;
}

.thanks {
  margin: 3% 0 8%;
}

.sign-in {
  margin: 5% 0;
}

#confirm-page {
  display: flex;
  align-content: center;
  text-align: center;
}

#confirm-page span {
  align-self: center;
  width: 100%;
}

/*Text Sizing*/

.normal {
  font-size: 44px;
}

.xl {
  font-size: 93px;
}

.smaller {
  font-size: 28px;
}
