body {
  font-family: 'Helvetica', sans-serif;
  padding: 5% 10%;
  min-width: 320px;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.top-entries {
  margin-top: 15%;
}

.sm-margin {
  margin: 5% 0 0;
}

.red {
  color: rgb(200,83,64);
}

.blue {
  color: rgb(64,90,147);
}

.black {
  border-color: black;
}

.red-line {
  border: 6px solid rgb(200,83,64);
}

.outline {
  color: #fff;
  text-shadow: -4px -4px 0 rgb(200,83,64),
  4px -4px 0 rgb(200,83,64),
  -4px 4px 0 rgb(200,83,64),
  4px 4px 0 rgb(200,83,64);
  margin-right: 8%;
  line-height: normal;
}

.closer {
  line-height: normal;
  margin: 0;
}

hr.black {
  margin: 1% 0;
}

.black-text {
  color: #000;
}

.bold {
  font-weight: bold;
}

.small-pad {
  padding: 2%;
}

.top-margin {
  margin-top: 15%;
}

.med-margin {
  margin: 5% 0;
}

.italic {
  font-style: italic;
}

.georgia {
  font-family: 'Georgia', sans-serif;
}

.inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.log-out {
  text-decoration: none;
  color: rgb(200,83,64);
  font-weight: bold;
  position: absolute;
  right: 10%;
}

.log-out:focus {
  color: rgb(200,83,64);
  text-decoration: none;
}

.nominate, .confirm {
  font-size: 40px;
  background: rgb(200,83,64);
  color: white;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding: 2%;
  border-radius: 15px;
}

#input {
  margin: 5% auto 20%;
}

.go-back {
  background-color: transparent;
  color: white;
}

.wrapper {
  width: 100%;
}

.no-margin {
  margin: 0;
}

form {
  text-align: center;
}

#aaflogo {
  max-width: 25%;
  margin: auto
}

#makewaylogo {
  width: 100%;
}

#sorrylogo {
  width: 35%;
}

#logolink {
  -webkit-align-self: center;
  align-self: center;
  line-height: 0;
}

#madeby {
  -webkit-align-self: center;
  align-self: center;
  white-space: nowrap;
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
}

.circle-input {
  border: 25px solid lightgray;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  font-weight: bold;
  font-size: 160px;
  text-align: center;
  margin: auto;
}

.thanks {
  margin: 3% 0 8%;
}

.sign-in {
  margin: 5% 0;
}

#confirm-page {
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;*/
  text-align: center;
  position: relative;
}

#confirm-page span {
  /*-webkit-align-self: center;
  align-self: center;*/
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/*Text Sizing*/

.normal {
  font-size: 44px;
}

.xl {
  font-size: 93px;
}

.lg {
  font-size: 80px;
}

.md {
  font-size: 54px;
}

.sm {
  font-size: 36px;
}

.smaller {
  font-size: 28px;
}

.facebook, .twitter, .google {
  color: #fff;
}

.facebook:focus, .twitter:focus, .google:focus {
  color: #fff;
}

.bg {
  border-radius: 15px;
  padding: 2%;
}

.fb-bg {
  background: rgb(64,90,147);
}

.twitter-bg {
  background: rgb(29,161,242);
}

.google-bg {
  background: rgb(200,83,64);
}

.social-login {
  margin: 5% 0;
  width: 100%;
}

span.fa {
  width: 50px;
  border-right: 2px solid rgba(255,255,255, 0.4)
}

.white {
  color: #fff;
}

.dark {
  background: rgba(0,0,0,0.7);
  width: 110%;
  height: 82vh;
  margin-left: -5%;
  padding: 5%;
  position: relative;
}

.underline {
  text-decoration: underline;
}

.bg-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.dn-pg {
  margin: 30% auto;
}
