<h4 class="bold small-pad center normal thanks">Disgruntled entrants who didn't win can submit their complaints to Makeway.is</h4>
<div class="center">
  <h4 class="bold inline normal">This voting app was made by:</h4>
  <a href="<%= pages_sorry_path %>" class="underline bold normal black-text"> Makeway</a>
</div>
