<div class="center top-margin">
  <h4 class="bold inline sm" id="madeby">This voting app was made by: <a href="<%= pages_sorry_path %>" class="bold sm black-text underline" id="logolink">Makeway</a></h4>
</div>
<!-- <img src="<%= asset_path('Makeway Logo.svg') %>" alt="Makeway Logo" class="inline" id="makewaylogo"> -->
