<div class="center flex top-margin">
  <h4 class="bold inline normal" id="madeby">This voting app was made by: &nbsp;</h4>
</div>
<a href="<%= pages_sorry_path %>" class="bold inline normal" id="logolink">&nbsp;Makeway</a>
<!-- <img src="<%= asset_path('Makeway Logo.svg') %>" alt="Makeway Logo" class="inline" id="makewaylogo"> -->
